body{
    margin:0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #BB9AB1;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.title-bar{
    background-color: #EECEB9;
    width:100%;
    height:100px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title-bar p{
    font-size:40px;
    font-weight:600;
    font-family: "Pixelify Sans", sans-serif;
}
.options-section{
    background-color: #BB9AB1;
    width: 30%;
    height: calc(100vh - 100px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sketch-pad{
    background-color: #987D9A;
    width: 70%;
    height: calc(100vh - 100px);
    text-align: center;
    box-shadow: inset #3C3D37 0px 0px 25px -12px;
}
.options{
    margin:18px 0;
}
.drawing-area{
    width:640px;
    height:640px;
    background-color: lightgrey;
    margin:5em auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow:1px 1px 4px #3C3D37;
}
.box-style{
    border: 1px solid lightgray;
    background-color: white;
    box-sizing: border-box;
}
/* .box-style:hover{
    background-color: #000000;
} */
p{
    font-size: 24px;
    font-weight:500px;
}
#clear-button{
    width:200px;
    height:60px;
    padding:18px;
    text-align: center;
    border: none;
    border-radius: 8px;
    box-shadow:1px 1px 4px #3C3D37 ;
    cursor:pointer;
    background-color: #FEFBD8;
    font-size:16px;
    font-weight: 500;
}
.footer{
    background-color: #EECEB9;
    width:100%;
    text-align: center;
    font-size:18px;
    padding:12px 0;
}